<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <!-- General description of your Web application -->
   <display-name>
      Kyriakos T. Fourniadis Java Tech. Example
   </display-name>
 
   <!-- showImage definitions -->
   <servlet>
      <servlet-name>showImage</servlet-name>
      <description>
           Display Image
      </description>
      <servlet-class>
           com.sample.viewallpartners.ImageUtil.showImage
      </servlet-class>
   </servlet>
 
   <servlet-mapping>
        <servlet-name>showImage</servlet-name>
        <url-pattern>/classes/com/sample/viewallpartners/ImageUtil/showImage</url-pattern>
   </servlet-mapping>
</web-app>